<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
</head>
<body>
    <h1></h1>
    <form action="/users" method="post">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" value="hello"><br>

        <label for="email">Email: </label>
        <input type="email" name="email" id="email" value="hello@hello.com"><br>

        <label for="age">Age</label>
        <input type="number" name="age" id="age" value=23> <br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>